/** {*/
    /*margin: 0px;*/
    /*padding: 0px;*/
/*}*/

body{
    height: 1000px;
    /*left: 150px;*/
    /*right:150px;*/
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 70px;
    padding-bottom:100px;
}

#footer {
    /*width: 100%;*/
    height: 50px;
    background: #ff0000;
    bottom: 0px;
}



/*body {*/
    /*!*position: relative;*!*/
    /*!*width:100%;*!*/
    /*padding-bottom: 100px;*/
    /*min-height: 100%;*/
    /*box-sizing: border-box;*/
    /*padding-top: 70px;*/
    /*left: 150px;*/
    /*right:150px;*/
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/

/*}*/