        * {
            margin: 0px;
            padding: 0px;
        }

        #footer {
            width: 100%;
            height: 20px;
            background: #ff0000;
            bottom: 0px;
        }
body {
    min-height: 2000px;
    padding-top: 70px;
    left: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

.button_foot {

}