{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <!-- query form for book informatiom -->
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">书名</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="人类简史">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">作者</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="叶海丰">
        </div>
        <button type="submit" class="btn btn-default">查询</button>
    </form>

    <div class="blank">
        <hr />
    </div>

    <table class="table table-hover table-bordered">
        <tr style="text-align: center;background-color: cadetblue">
            <th>书名</th>
            <th>作者</th>
            <th>译者</th>
            <th>出版社</th>
            <th>出版时间</th>
        </tr>
        {% for item in book_list %}
        <tr>
            <th>{{ item.name }}</th>
            <th>{{ item.author }}</th>
            <th>{{ item.translator }}</th>
            <th>{{ item.publisher }}</th>
            <th>{{ item.publish_date }}</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
